<!DOCTYPE html>
<html lang = "ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>決算を登録する</title>
</head>
<body>
<form action="" method="POST">
収入<br>
項目名 : <input type="text" name="categoryName">  <input type="text" name="amount"><br>
項目名 : <input type="text" name="categoryName">  <input type="text" name="amount"><br>


支出<br>
<input type="text" name="categoryName">  <input type="text" name="amount"><br>
<input type="text" name="categoryName">  <input type="text" name="amount"><br>
<input type="text" name="categoryName">  <input type="text" name="amount"><br>
<input type="text" name="categoryName">  <input type="text" name="amount"><br>
<input type="text" name="categoryName">  <input type="text" name="amount"><br>


<button>登録</button>
</form>
</body>
</html>